{% extends "a_base_nav.html" %}
{% block content %}
  <div class="p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="a_home.html" class="nav-link text-danger"><i class="fa fa-home fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="{{ url_for('a_gesundheitszustand') }}">Übersicht</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="{{ url_for('a_kalender') }}">Kalender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('a_dokumentation') }}">Dokumentation</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('a_home_patient') }}" class="btn btn-danger">Zurück zur List</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4 text-danger">Pflegedokumentation</h2>
        </div>
      </div>
      <div class="row">
        <div class="align-self-center text-md-right text-center col-md-4">
            <h3><a class="text-danger" href="">Stammdaten</a></h3>
            <h3><a class="text-danger" href="">Leistungsnachweis</a></h3>
            <h3><a class="text-danger" href="">Vitalwerte</a></h3>
            <h3><a class="text-danger" href="">Medikationsplan</a></h3>
            <h3><a class="text-danger" href="">Pflegeanamnese</a></h3>
            <h3><a class="text-danger" href="">Berichtblatt</a></h3>
        </div>
        <div class="my-3 col-md-4">
          <img class="img-fluid d-block ml-1 mx-auto" src="https://www.boi-dokutech.de/images/slides/doku_pflegedokumentation/slide_01.jpg"> </div>
      </div>
    </div>
  </div>
{% endblock %}