{% extends "t_base_nav_1.html" %}
{% block content %}
  <div class="p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs text-warning">
            <li class="nav-item">
              <a href="" class="nav-link text-warning"><i class="fa fa-home fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Therapie Kommunikation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <a href="{{ url_for('t_pflegekommunikation') }}" class="btn btn-warning">Zurück zur List</a>
            <a href="meine_doku.html" class="btn btn-warning" data-target="#antwort" data-toggle="modal">&lt;- Antworten</a>
            <a href="#" class="btn btn-warning" data-target="#teilenDialogNachricht" data-toggle="modal">Teilen -&gt;</a>
            <a href="#" class="btn btn-warning" onclick="window.location.href = '{{ url_for( 'handle_delete_t_news' , id=id ) }}'">Löschen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% with sender=info.sender,topic=info.topic %}
          <p>&nbsp; {{ topic}} {{ sender}}</p>
          {% endwith%}
        </div>
      </div>
    </div>
  </div>
  <div class="p-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 border border-primary">
          {% with text=info.text%}
          <p class="lead h-50 w-100 m-1 p-1">{{text}}
          {% endwith%}
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="teilenDialogNachricht">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Teilen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body">
          <div class="checkbox"> <label><input type="checkbox" value="">&nbsp;Herr Mai@physiotherapeut</label> </div>
          <div class="checkbox"> <label><input type="checkbox" value="">&nbsp;Herr Fuchs@Ergotherapeut</label> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Teilen</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="antwort">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Antworten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body">
          <li class="list-inline-item">Text:</li>
          <input class="form-control mr-2 h-50" type="text" placeholder="">
          <input type="file" class="form-control-file" id="exampleFormControlFile1"> </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Senden</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}