{% extends "w_base_nav.html" %}
{% block content %}
  <div class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="w_home.html" class="nav-link text-primary"><i class="fa fa-home fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="w_gesundheitszustand.html">Übersicht</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link text-primary active">Patient Kalender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="w_dokumentation.html">Dokumentation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('w_dashboard_patient') }}" class="btn btn-primary">Zurück zur List</a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5 class="">xxx</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <iframe src="https://calendar.google.com/calendar/b/1/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=31gcqirhd5ddbf0i17bggb9nl0%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=Europe%2FBerlin" style="border-width:0" frameborder="0" scrolling="no" height="600" width="1100"></iframe>
      <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=Mzk4OGtjYmU0bGljbmtlMnNocjg5aWgwOTAgMzFnY3FpcmhkNWRkYmYwaTE3YmdnYjlubDBAZw&amp;tmsrc=31gcqirhd5ddbf0i17bggb9nl0%40group.calendar.google.com">
        <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_de.gif"> </a>
    </div>
  </div>
{% endblock %}